.margin-b-0 {
  margin-bottom: 0 !important;
}

.margin-r-20 {
  margin-right: 20px !important;
}

.font-s-18 {
  font-size: 18px !important;
}

.break-text {
  white-space: normal !important;
  overflow-wrap: anywhere !important;
}
