.ant-layout {
  min-height: 100vh !important;
}

.ant-btn-default {
  color: #2F80ED !important;
}

.ant-select-single .ant-select-selector .ant-select-selection-item {
  line-height: unset !important;
}
