.ant-layout {
  min-height: 100vh !important;
}

.ant-btn-default {
  color: #2F80ED !important;
}

.ant-btn-link {
  height: max-content !important;
  padding: 0 !important;
  border: none !important;
}
